# Truffle
build

# Node
node_modules

# Mac specific
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# IDEA files
.idea/compiler.xml
.idea/encodings.xml
.idea/chainlist-truffle5.iml
.idea/inspectionProfiles/
.idea/**/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml